/* classes and ids scope styles for each individual tag - if we omit class or id, style will be scoped to all components */
.header {
  text-align: center;
}
.about {
  margin: '80px auto 60px';
}
.about h1 {
  text-align: center;
  margin-top: 40px;
}
.about p {
  margin-top: 40px;
}

@media only screen and (max-width: 480px){
  .about h1 {
    font-size: 1.5em;
    margin-top: 20px;
  }
  .about p {
    font-size: 0.7em;
    margin-top: 20px;
  }
}



  